@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background-color: transparent;
}

:root {
  --color-background: #efeaf8;

  body {
    font-family: 'Arial';
    background-color: var(--color-background);
    min-height: 100vh;
    margin: 0;
  }
}

.button {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50px;
  color: #3a2d4a;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  padding: 8px 18px;
}

.button.active,
.router-link-exact-active.button {
  border: 1px solid #ffffff;
  background-color: #6929ff;
  color: #f5f5f5;
}

.button:hover:not(.active):not(.router-link-exact-active) {
  border: 1px solid #6929ff;
}
